[Desktop Entry]
Name=下载管理器
Comment=本地下载管理器
Exec=lgo_download_manager --open-url %u
Icon=lgo_download_manager
Terminal=false
Type=Application
Categories=Network;Download;
MimeType=x-scheme-handler/lgom://;
StartupWMClass=lgo_download_manager
